{:blocks (
{:block/content "文本"
:block/format :markdown
:block/left 
{:block/uuid #uuid "69a8286a-d993-4481-b9d2-200846609369"}
:block/parent 
{:block/uuid #uuid "69a8286a-d993-4481-b9d2-200846609369"}
:block/uuid #uuid "69a82878-b171-442d-bf0b-2939735a0040"} 
{:block/created-at 1772628088954
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "69a82878-b171-442d-bf0b-2939735a0040"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 41]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "72385060-17c7-11f1-b503-ff1d46509324"
:noFill false
:point [32 160]
:parentId "69a8286a-d993-4481-b9d2-200846609369"
:collapsedHeight 0
:nonce 1772628080745}}
:block/updated-at 1772628088954} 
{:block/content "图片"
:block/format :markdown
:block/left 
{:block/uuid #uuid "69a82878-b171-442d-bf0b-2939735a0040"}
:block/parent 
{:block/uuid #uuid "69a8286a-d993-4481-b9d2-200846609369"}
:block/uuid #uuid "69a82882-24c8-432d-ba11-407c6d5af73c"} 
{:block/created-at 1772628099159
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 1
:scale [1 1]
:pageId "69a82882-24c8-432d-ba11-407c6d5af73c"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 41]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "79e3a990-17c7-11f1-b503-ff1d46509324"
:noFill false
:point [32 256]
:parentId "69a8286a-d993-4481-b9d2-200846609369"
:collapsedHeight 0
:nonce 1772628093611}}
:block/updated-at 1772628099159} 
{:block/content "音频"
:block/format :markdown
:block/left 
{:block/uuid #uuid "69a82882-24c8-432d-ba11-407c6d5af73c"}
:block/parent 
{:block/uuid #uuid "69a8286a-d993-4481-b9d2-200846609369"}
:block/uuid #uuid "69a8288a-3583-4898-9cf6-c5f5f4c37c22"} 
{:block/created-at 1772628106537
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 2
:scale [1 1]
:pageId "69a8288a-3583-4898-9cf6-c5f5f4c37c22"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 41]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "7f779470-17c7-11f1-b503-ff1d46509324"
:noFill false
:point [32 352]
:parentId "69a8286a-d993-4481-b9d2-200846609369"
:collapsedHeight 0
:nonce 1772628102970}}
:block/updated-at 1772628106537} 
{:block/content "视频"
:block/format :markdown
:block/left 
{:block/uuid #uuid "69a8288a-3583-4898-9cf6-c5f5f4c37c22"}
:block/parent 
{:block/uuid #uuid "69a8286a-d993-4481-b9d2-200846609369"}
:block/uuid #uuid "69a82892-dc05-4898-81a7-d3d6ab5edf2e"} 
{:block/created-at 1772628114569
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 3
:scale [1 1]
:pageId "69a82892-dc05-4898-81a7-d3d6ab5edf2e"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 41]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "8428c070-17c7-11f1-b503-ff1d46509324"
:noFill false
:point [32 448]
:parentId "69a8286a-d993-4481-b9d2-200846609369"
:collapsedHeight 0
:nonce 1772628110841}}
:block/updated-at 1772628114569} 
{:block/created-at 1772628160005
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:collapsed true
:borderRadius 8
:index 4
:scale [1 1]
:pageId "文本嵌入"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing false
:type "logseq-portal"
:size [400 40]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "8e44f290-17c7-11f1-b503-ff1d46509324"
:noFill false
:point [544 152]
:parentId "69a8286a-d993-4481-b9d2-200846609369"
:collapsedHeight 139
:nonce 1772628127883}}
:block/updated-at 1772628160005} 
{:block/created-at 1772628810671
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:collapsed true
:borderRadius 8
:index 5
:scale [1 1]
:pageId "图片编码器"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing false
:type "logseq-portal"
:size [400 40]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "97d7d070-17c7-11f1-b503-ff1d46509324"
:noFill false
:point [544 256]
:parentId "69a8286a-d993-4481-b9d2-200846609369"
:collapsedHeight 284.9999694824219
:nonce 1772628143874}}
:block/updated-at 1772628810671} 
{:block/created-at 1772628183346
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:collapsed true
:borderRadius 8
:index 6
:scale [1 1]
:pageId "音频编码器"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing false
:type "logseq-portal"
:size [400 40]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "a42c8d70-17c7-11f1-b503-ff1d46509324"
:noFill false
:point [544 352]
:parentId "69a8286a-d993-4481-b9d2-200846609369"
:collapsedHeight 139
:nonce 1772628164556}}
:block/updated-at 1772628183346} 
{:block/created-at 1772628200487
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:collapsed true
:borderRadius 8
:index 7
:scale [1 1]
:pageId "视频编码器"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing false
:type "logseq-portal"
:size [400 40]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "ab6cc8c0-17c7-11f1-b503-ff1d46509324"
:noFill false
:point [544 448]
:parentId "69a8286a-d993-4481-b9d2-200846609369"
:collapsedHeight 139
:nonce 1772628176722}}
:block/updated-at 1772628200487} 
{:block/content "token序列"
:block/format :markdown
:block/left 
{:block/uuid #uuid "69a82892-dc05-4898-81a7-d3d6ab5edf2e"}
:block/parent 
{:block/uuid #uuid "69a8286a-d993-4481-b9d2-200846609369"}
:block/properties 
{}
:block/uuid #uuid "69a828e8-3d26-4128-99a4-d12dbffb0c14"} 
{:block/created-at 1772628222778
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:collapsed false
:borderRadius 8
:index 8
:scale [1 1]
:pageId "tokentoken"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [400 139]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "c1f51070-17c7-11f1-b503-ff1d46509324"
:noFill false
:point [1056 248]
:parentId "69a8286a-d993-4481-b9d2-200846609369"
:collapsedHeight 0
:nonce 1772628214653}}
:block/updated-at 1772628222778} 
{:block/content "Self-Attention"
:block/format :markdown
:block/left 
{:block/uuid #uuid "69a828e8-3d26-4128-99a4-d12dbffb0c14"}
:block/parent 
{:block/uuid #uuid "69a8286a-d993-4481-b9d2-200846609369"}
:block/uuid #uuid "69a82972-d953-487c-9942-0b25306ca32d"} 
{:block/created-at 1772628378803
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:collapsed false
:borderRadius 8
:index 9
:scale [1 1]
:pageId "Self-Attention"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [400 129]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "17b63070-17c8-11f1-b503-ff1d46509324"
:noFill false
:point [1664 256]
:parentId "69a8286a-d993-4481-b9d2-200846609369"
:collapsedHeight 0
:nonce 1772628358394}}
:block/updated-at 1772628378803} 
{:block/created-at 1772628427117
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:collapsed false
:borderRadius 8
:index 10
:scale [1 1]
:pageId "Cross-Attention"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [400 107]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "3cc1d4f0-17c8-11f1-b503-ff1d46509324"
:noFill false
:point [2144 256]
:parentId "69a8286a-d993-4481-b9d2-200846609369"
:collapsedHeight 0
:nonce 1772628420545}}
:block/updated-at 1772628427117} 
{:block/created-at 1772628436837
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:collapsed false
:borderRadius 8
:index 11
:scale [1 1]
:pageId "FFN"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [400 107]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "446abd20-17c8-11f1-b503-ff1d46509324"
:noFill false
:point [2624 256]
:parentId "69a8286a-d993-4481-b9d2-200846609369"
:collapsedHeight 0
:nonce 1772628433396}}
:block/updated-at 1772628436837} 
{:block/created-at 1772628463323
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:collapsed false
:borderRadius 8
:index 12
:scale [1 1]
:pageId "高级语义空间"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [400 107]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "4ba10d60-17c8-11f1-b503-ff1d46509324"
:noFill false
:point [3104 256]
:parentId "69a8286a-d993-4481-b9d2-200846609369"
:collapsedHeight 0
:nonce 1772628445496}}
:block/updated-at 1772628463323} 
{:block/created-at 1772628479374
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:collapsed false
:borderRadius 8
:index 13
:scale [1 1]
:pageId "线性层"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [400 107]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "5b8c1080-17c8-11f1-b503-ff1d46509324"
:noFill false
:point [3584 256]
:parentId "69a8286a-d993-4481-b9d2-200846609369"
:collapsedHeight 0
:nonce 1772628472202}}
:block/updated-at 1772628479374} 
{:block/content "Soft"
:block/format :markdown
:block/left 
{:block/uuid #uuid "69a82972-d953-487c-9942-0b25306ca32d"}
:block/parent 
{:block/uuid #uuid "69a8286a-d993-4481-b9d2-200846609369"}
:block/uuid #uuid "69a82a09-da9a-4b18-a583-c71dbb379d53"} 
{:block/created-at 1772628516428
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:collapsed false
:borderRadius 8
:index 14
:scale [1 1]
:pageId "Softmax"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [400 107]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "73342010-17c8-11f1-b503-ff1d46509324"
:noFill false
:point [4064 256]
:parentId "69a8286a-d993-4481-b9d2-200846609369"
:collapsedHeight 0
:nonce 1772628511891}}
:block/updated-at 1772628516428})
:pages (
{:block/uuid #uuid "69a8286a-d993-4481-b9d2-200846609369"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "69a8286a-d993-4481-b9d2-200846609369"
:name "多模态大模型 multimodal llm"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("72385060-17c7-11f1-b503-ff1d46509324" "79e3a990-17c7-11f1-b503-ff1d46509324" "7f779470-17c7-11f1-b503-ff1d46509324" "8428c070-17c7-11f1-b503-ff1d46509324" "8e44f290-17c7-11f1-b503-ff1d46509324" "97d7d070-17c7-11f1-b503-ff1d46509324" "a42c8d70-17c7-11f1-b503-ff1d46509324" "ab6cc8c0-17c7-11f1-b503-ff1d46509324" "c1f51070-17c7-11f1-b503-ff1d46509324" "17b63070-17c8-11f1-b503-ff1d46509324" "3cc1d4f0-17c8-11f1-b503-ff1d46509324" "446abd20-17c8-11f1-b503-ff1d46509324" "4ba10d60-17c8-11f1-b503-ff1d46509324" "5b8c1080-17c8-11f1-b503-ff1d46509324" "73342010-17c8-11f1-b503-ff1d46509324")}}
:block/updated-at 1772628810675
:block/created-at 1772628074800
:block/type "whiteboard"
:block/name "多模态大模型 multimodal llm"
:block/original-name "多模态大模型 Multimodal LLM"})}